html, body {

    height: 100%;

    margin: 0;

}


body {

    background: #d5ffda;

    display: flex;

    align-items: center;



    justify-content: center;

}

canvas {


    border: 1px solid black;

}